@import url(global.css);

.AlertPostObject {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    max-height: 60vh; /* Cambiado a maxHeight */
    border-radius: 0.5em;
    margin: 0.5em 0 0 0.1em;
    background-color: var(--secondary-color);
}

.AlertPostObject:hover {
    cursor: pointer;
}

#NotSeen{
    border: solid 0.1em var(--button-color);
}

.PostImage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 15%;
    height: 100%;
    border-radius: 0.5em 0 0 0.5em;
}

.profilePostImg {
    padding: 1em;
}

.PostContent {
    display: grid;
    flex-direction: column;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr auto 0.5fr;
}


.images {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1%;
    justify-content: start;
    align-items: center;
}
  
.image-0 {
    grid-area: 1 / 1 / 2 / 2; 
}
.image-1 {
    grid-area: 1 / 2 / 2 / 3; 
}
.image-2 {
    grid-area: 2 / 1 / 3 / 2; 
}
.image-3 {
    grid-area: 2 / 2 / 3 / 3; 
}


.minisection-Alert {
    display: flex;
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
    flex-direction: column;
    font-size: 1.2em;
}

.AlertReply{
    font-size: 10px;
    color: var(--secondary-text-color);
    font-family: var(--font-style);
}

.minisection-Alert div {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.UserData{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1%;
}

.username:hover {
    text-decoration-line: underline;
}

.innerContent {
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
    grid-area: 2 / 1 / 3 / 2;
    font-size: var(--content-font-size);
    font-family: var(--font-style);
    padding-right: 3em;
    overflow: hidden;
    color: var(--primary-text-color);
}

.interactions {
    display: flex;
    grid-area: 3 / 1 / 4 / 2;
    justify-content: space-evenly;
    gap: 3%;
    flex-direction: row;
    width: 100%;
    padding: 0.5em;
    align-self: flex-end;
}

.interactions button {
    display: flex;
    width: 5em;
    background-color: var(--button-color);
    border: none;
    font-size: var(--font-style);
    color: var(--primary-text-color);
    border-radius: 0.5em;
    align-items: center;
    justify-content: center;
}

.interactions button:hover {
    cursor: pointer;
}

#primary{
    color: var(--primary-text-color);
}
#secondary{
    color: var(--secondary-text-color);
}