@import url(global.css);

.AlertObject{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 7em;
    background-color: var(--secondary-color);
    border-radius: 0.5em;
}

.AlertObject:hover {
    cursor: pointer;
}

#NotSeen{
    border: solid 0.1em var(--button-color);
}