@import url(global.css);

.follow{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: var(--primary-color);
}

.logoSection{
    display: flex;
    width: 90%;
    grid-area: 1 / 1 / 2 / 2; 
    justify-content: center;
}

.people{
    display: flex;
    flex-direction: column;
    grid-area: 2 / 1 / 6 / 2;  
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    height: 100%;
    gap: 0.5em;
}

.PeopleBox{
    background-color: var(--secondary-color);
    width: 90%;
    height: 60%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.person{
    display: grid;
    grid-template-columns: 0.80fr 1fr 0.50fr;
    grid-template-rows: 1fr; 
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5em;
    background-color: var(--tertiary-color);
    width: 90%;
    height: 20%;
    overflow: hidden;
}

.PfpContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
}

.personData{
    grid-area: 1 / 2 / 2 / 3; 
    font-size: var(--font-size);
    font-family: var(--font-style);
}

.BtnPerson{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0.5em 0.5em 0 0;
    grid-area: 1 / 3 / 2 / 4; 
}

.BtnPerson button{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    background-color: var(--button-color);
    border: none;
    border-radius: 0.5em;
    color: var(--primary-text-color);
    font-size: var(--font-size);
    font-family: var(--font-style);
    padding: 0.5em;

}

.BtnPerson button:hover{
    cursor: pointer;
}

.person:hover{
    cursor: pointer;
}

#primary{
    color: var(--primary-text-color);
}

#secondary{
    color: var(--secondary-text-color);
}