/* first color palette */
/* :root {
  --primary-color: #16242d;
  --secondary-color: #5281a0;
  --tertiary-color: #8ecae6;
  --button-color: #fb8500;
  --primary-text-color: #ffffff;
  --secondary-text-color: #8f8c8b;
  --font-size: 16px;
  --content-font-size: 12px;
  --font-style: 'DM Sans', sans-serif;
} */

/* second color palette */
:root {  
  --primary-color: #16242d;
  --secondary-color: #2b5d73; 
  --tertiary-color: #8ecae6;  
  --button-color: #ff9800;      
  --primary-text-color: #ffffff;    
  --secondary-text-color: #16242d; 
  --font-size: 16px;                
  --content-font-size: 12px;        
  --font-style: 'DM Sans', sans-serif;  
}
/* third color palette need to change the button color */
/* :root { 
  --primary-color: #3e2723;           
  --secondary-color: #5d4037;         
  --tertiary-color: #a1887f;          
  --button-color: #8d6e63;            
  --primary-text-color: #ffffff;        
  --secondary-text-color: #d7ccc8;      
  --font-size: 16px;
  --content-font-size: 12px;
  --font-style: 'DM Sans', sans-serif;
} */

