@import url(global.css);

.makePost{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 15em;
    max-height: 20em;
    margin: 0.5em 0 0 0.1em;
    border-radius: 0.5em;
    padding: 0.5em;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    resize: none;
}


.post-textarea {
    width: 100%;
    height: 90%;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    border: none;
    font-size: var(--font-size);
    font-family: var(--font-style);
    margin: 0 0 10px 0;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}


.TopicBox{
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 2em;
}

.Topic {
    border: none;
    color: var(--primary-text-color);
    background-color: var(--button-color);
    font-size: var(--font-size);
    font-family: var(--font-style);
    border-radius: 0.5em;
    min-width: 2em;
    width: auto;
}

.contentInput::-webkit-scrollbar{  /* temporary 'google' solution  */
    display: none;
}

.contentInput:not(:focus):is(:empty){
    padding-top: 2.5em;
}
.contentInput:is(:focus)::placeholder {
    opacity: 0;
}
.contentInput:is(:focus){
    height: 5em;
}

.Galery{
    overflow: hidden;
    flex-direction: row;
    display: flex;
    height: 50em;
    width: 45em;
    gap: 0.5em;
}

.GaleryImg-1, .GaleryImg-2, .GaleryImg-3, .GaleryImg-4 {
    width: 100%;
    height: auto;
}

.IMG-box{
    position: relative;
    width: 7em;
    height: auto;
    padding: .2em;
}

.Bttn-rm {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    color: white;
    font-weight: bold;
    padding: .2em;
    text-shadow: 0 0 .2em black;
}
  

.makePost textarea:focus{
    outline: none;
    border: solid 1px #1da1f2;
}

input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
  }
  
input::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px; 
    color: gray;
}

.testbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    gap: 1em;
}


.PostOptions{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    border-top: solid 2px gray;
    padding: 0.5em 0 0 0;
    width: 100%;
    height: 20%;
}

.PostOptions button{
    width: 10%;
    height: 100%;
    background-color: var(--button-color);
    color: white;
    font-size: var(--font-size);
    border-radius: 0.5em;
    margin: 0 0.5em 0 0;
    border: none;
}


.PostOptions button:hover{
    cursor: pointer;
}

