@import url(global.css);

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 100vw;
    height: 100vh;
}

.homeContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.navegation{
    display: grid;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    background-color: var(--primary-color) ;
}



.section{
    display: flex;
    flex-direction: column;
    padding: 0.5em 0 0.3em 0.2em;
}



.profileHomeImg{
    background-color: black;
    width: 45%;
    height: 65%;
}



.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none; /* 'firefox' solution  */
    background-color: var(--tertiary-color);
}

.main::-webkit-scrollbar{  /* temporary 'google' solution  */
    display: none;
}




