.personSearch{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5em;
    margin: 0.5em 0 0 0.1em;
    background-color: var(--secondary-color);
    font-size: var(--font-size);
    font-family: var(--font-style);
    color: var(--primary-text-color);
    min-width: 23em;
    height: 7em;
}

.personSearch:hover{
    cursor: pointer;
}

.PersonPfp{
    border-radius: 0.5em;
    padding: 1%;
}

.personSearchInfo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5em;
}

.personSearchInfo button{
    display: flex;
    width: 5em;
    background-color: var(--button-color);
    border: none;
    font-size: var(--font-style);
    color: var(--primary-text-color);
    border-radius: 0.5em;
    align-items: center;
    justify-content: center;

}

.personSearchInfo button:hover{
    cursor: pointer;
}

.miniPersonInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5em;
}


#primary{
    color: var(--primary-text-color);
}
#secondary{
    color: var(--secondary-text-color);
}