
.PostObject{
    display: flex;
    flex-direction: row;
    width: 90%;
    min-height: 20%;
    height: auto;
    max-height: 60%;
    border: solid 1px black;
    border-radius: 0.5em;
    margin: 0.5em 0 0 0.1em;
}

.PostImage{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 15%;
    height: 100%;
    border-radius: 0.5em 0 0 0.5em;
    border: solid 1px red;
}

.profilePostImg{
    padding: 1em;
}

.PostContent{
    display: flex;
    flex-direction: column;
}

.minisection{
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    gap: 1%;
}

.innerContent{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}