@import url(global.css);


/* Parent */
.pfNav{ 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.30fr repeat(3, 1fr) 0.50fr; 
    flex-direction: column;
    width: 100%;
    height: 35%;
    background-color: var(--primary-color);
}

/* Children */

.Top-Name{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 1em;
    grid-area: 1 / 1 / 2 / 2;
}

.Top-Name div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em;
    width: 8em;
    height: 1em;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    border-radius: 0.2em;
    font-size: var(--font-size);
    font-family: var(--font-style);
}

.ProfilePic-data{
    position: relative;
    width: 100%;
    height: 100%;
    grid-area: 2 / 1 / 5 / 2; 
}

.ProfileBackground{
    position: absolute;
    width: 95%;
    height: 70%;
    background-color: white;
    z-index: 0;
}



.Profile-data{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    width: 25%;
    height: 50%;
    margin: 0 0 0 4em;
    bottom: 0;
    z-index: 1;
}

.ProfilePfp{
    width: 45%;
    height: 100%;
    border-radius: 0.5em;
    margin: 0 0.5em 0 0;
    z-index: 2;
    background-color: green;
}
.Profile-Info-Data{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 55%;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-start;
}

.Profile-Info-Data div {
    display: flex;
    flex-direction: row;
    min-width: 70%;
    width: auto;
    background-color: var(--secondary-color);
    border-radius: 0.2em;
    padding: 0.1em;

}

.Profile-Info-Data div p{
    margin: 0 0.5em 0 0;
    font-size: var(--font-size);
    font-family: var(--font-style);
}


.Profile-Menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;

    grid-area: 5 / 1 / 6 / 2; 
}
.Profile-Menu button{
    width: 10%;
    height: 60%;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    font-size: var(--font-size);
    border-radius: 0.5em;
    border: none;
}

.Profile-Menu button:hover{
    cursor: pointer;
}

#primary{
    color: var(--primary-text-color);
}
#secondary{
    color: var(--secondary-text-color);
}

/* Children-main */
.Profile-children{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 65%;
    gap: 1em;
}