.searchDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

.searchDiv::-webkit-scrollbar{  /* temporary 'google' solution  */
    display: none;
}

.SearchInput{
    margin-top: .5em;
    border: solid 1px black;
    border-radius: 0.5em;
    width: 60em;
    height: 2.5em;
}

.resultPeople{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr;
    width: 98%;
    height: 10em;
    overflow: hidden;
}
.resultPeople h1 {
    grid-area: 1 / 1 / 2 / 2; 
}

.PeopleGrid {
    display: flex;
    max-height: 9em;
    grid-area: 2 / 1 / 3 / 2;
    gap: 0.5em;
    overflow-y: hidden;
    overflow-x: auto;
}

.resultPost{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    align-items: center;
    margin-top: 1em;
    width: 98%;
    height: 75%;
}