@import url(global.css);

.searchDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

.searchDiv::-webkit-scrollbar{  /* temporary 'google' solution  */
    display: none;
}

.SearchInput{
    margin-top: .5em;
    border: solid 1px black;
    border-radius: 0.5em;
    width: 60em;
    height: 2.5em;
}
.searchDiv button:hover{
    cursor: pointer;
}

.boxSearch{
    display: flex;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4em;
}

.boxSearch button{
    margin-left: 1em;
    border: none;
    border-radius: 0.5em;
    background-color: var(--button-color);
    color: var(--primary-text-color);
    font-size: var(--font-size);
    font-family: var(--font-style);
    width: 5em;
    height: 1.5em;

}

.resultPeople{
    width: 98%;
    height: 10em;
    overflow: hidden;
}

.PeopleGrid {
    display: flex;
    height: 100%;
    gap: 0.5em;
    overflow-y: hidden;
    overflow-x: auto;
}

/* FireFox ScrollBar */
.PeopleGrid {
    scrollbar-width: thin;
    scrollbar-color: var(--button-color) var(--primary-color);
}

/* Google scrollbar */


.PeopleGrid::-webkit-scrollbar-track {
    background: var(--primary-color); 
    border-radius: 10px;
    margin: 2px; 
}

.PeopleGrid::-webkit-scrollbar-thumb {
    background-color: var(--button-color);
    border-radius: 10px;
    border: 2px solid var(--primary-color); 
}


.resultPosts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    align-items: center;
    margin-top: 1em;
    width: 98%;
    height: 75%;
}